body {
    background: #b1b0b1e6;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    justify-content: center;
    gap: 10px;  
}

#presidents {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
}
h2 {
   margin-top: 30px;
   font-size: 35px; 
}
.card__name {
    font-size: 18px;
}
.card__yers {
    font-size: 16px;
    color: rgb(188, 231, 30);
}
.card__vice {
    font-size: 17px;
  
}
.cards {
    max-width: 25%;
    height: 435px;
    background-color: rgba(65, 134, 130, 0.59);
    padding: 10px;
    box-shadow: 0 0 25px rgb(50, 97, 77);
    border-radius: 15px;
}
.card__img {
    width: 200px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgb(27, 43, 36);
}
@media (max-width:768px){
    .cards {
        padding: 10px;
        min-width: 15%;
    }
    .card__img {
        width: 150px;
        height: 200px;
    }
  }
@media (max-width:576px){
    .cards {
        padding: 10px;
        min-width: 15%;
    }
    .card__img {
        width: 100px;
        height: 170px;
    }
  }